.post-list-card {
    margin: 20px;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


mat-table {
    width: 100%;
    margin-top: 20px;
}

mat-row:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}